# VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NPM
/node_modules/*
package-lock.json

# CORDOVA
!/plugins
!/plugins/android.json
!/plugins/fetch.json
plugins/*
platforms/*
www/*
