.page{
    background: #EAEAEA;
}

.action, .login{
    padding: 30px;
    p{
        font-weight: bold;
        padding: 20px 0;
    }
}

.login{
    background: #CCC;
    input{
        margin-bottom: 20px;
    }
}