<div class="vertical-content page">
  <div class="col text-center col-center">
    <div class="row row-center" style="height: 100%;">
      <div class="col logo">
        <img src="assets/coronavirus.png" width="120" />
      </div>
    </div>
  </div>


  <div class="login text-center">
    <p>Informe seus dados abaixo</p>

    <div class="input">
      <input type="text" id="email" />
      <label for="email">Email</label>
    </div>

    <a class="btn btn-success btn-block" [routerLink]="['/login']">
      <i class="material-icons">exit_to_app</i>
      Recuperar Senha
    </a>

  </div>


</div>