/**
 * GRID
 */

.row {
    @include flex-row;
    padding: $grid-padding;
}

.flex-column {
    @include flex-vertical;
}

.row-col {
    @include flex-col;
    @include flex-row;
}

.row-no-padding {
    padding: 0;
}

.row + .row {
    margin-top: -$grid-padding;
    padding-top: 0;
}

.row-no-padding > .col {
    padding: 0;
}

.row.row-no-padding + .row {
    margin-top: 0;
    padding-top: 5px;
}

.row.row-no-padding + .row.row-no-padding {
    margin-top: 0;
}

.col {
    @include flex-col;
    padding: $grid-padding;
}

.row-center {
    @include flex-row-center;
}

.col-center {
    @include flex-col-center;
}