

// FONTES
$font-family: "Roboto", "Helvetica Neue", sans-serif;
$font-size: 14px;
$font-color: #333;

$font-display-1: 36px;
$font-display-2: 30px;
$font-display-3: 24px;
$font-display-4: 18px;
$font-display-5: 14px;
$font-display-6: 12px;
$font-title: 20px;
$font-body: 14px;
$font-caption: 12px;

// GRID
$grid-padding: 5px;

// COLORS
$color-primary: #333333; // BLUE 500
$color-accent: #B36C3D; // BLUE 500
$color-alert: #FFEB3B; // YELLOW 500
$color-error: #F44336; // RED 500
$color-info: #2196F3; // BLUE 500
$color-success: #4CAF50; // GREEN 500


// DRAWER
$drawer-width: 300px;